.container {
  position: fixed;
  z-index: 3;
  animation: slideIn .3s;
  top: 0;
  right: 0rem;
  width: 18rem;
  height: 100vh;
  background: var(--iucky-background);
  transition: right .3s;
  color: var(--iucky-fontcolor);
  box-sizing: border-box;
  padding: 1.5rem;
  margin-left: 1.5rem;
  max-height: 100%;
  overflow-y: auto;
  direction: rtl;
}

@keyframes slideIn {
  0% {
    right: -15rem;
  }

  100% {
    right: 0;
  }
}

.title {
  font-size: 1.5rem;
  margin-top: 0;
}

.list {
  padding: 0;
  direction: ltr;
  padding-top: 30px;
}

.item {
  font-size: 0.875rem;
  list-style-type: none;
  line-height: 2;
  border-radius: 5px;
  transition: transform .2s, font-weight .2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 3px;
  margin-left: 2rem;
}

.item:hover {
  transform: translateX(0.5rem);
}

.text {
  color: var(--iucky-fontcolor);
}

.active {
  font-weight: 600;
}