@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iucky-white: #fff;
  --iucky-white-op: rgba(255, 255, 255, 0.2);
  --iucky-black: #000;
  --iucky-black-op: rgba(0, 0, 0, 0.2);
  --iucky-none: #00000000;
  --iucky-gray: #999999;
  --iucky-gray-op: #9999992b;
  --iucky-vip: #e5a80d;
  --iucky-main: var(--iucky-theme);
  --iucky-main-op: var(--iucky-theme-op);
  --iucky-main-none: var(--iucky-theme-none);
  --iucky-shadow-theme: 0 8px 12px -3px var(--iucky-theme-op);
  --iucky-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --iucky-shadow-main: 0 8px 12px -3px var(--iucky-main-op);
  --iucky-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --iucky-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --iucky-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --iucky-shadow-yellow: 0 38px 77px -26px rgba(255, 201, 62, .12);
  --iucky-shadow-red: 0 8px 12px -3px #ee7d7936;
  --iucky-shadow-green: 0 8px 12px -3px #87ee7936;
  --iucky-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --iucky-snackbar-time: 5s;
  --style-border: 1px solid var(--iucky-card-border);
  --style-border-always: 1px solid var(--iucky-card-border);
  --style-border-hover: 1px solid var(--iucky-main);
  --style-border-hover-always: 1px solid var(--iucky-main);
  --style-border-dashed: 1px dashed var(--iucky-theme-op);
}

::selection {
  background: var(--iucky-background-op);
}

:root {
  --iucky-background: #fff;
  --iucky-background-op: rgb(217, 217, 217);
  /* --iucky-theme: #425AEF; */
  --iucky-theme: var(--iucky-green);
  /* --iucky-theme-op: #4259ef23; */
  --iucky-theme-op: var(--iucky-green-op);
  /* --iucky-theme-op-deep: #4259efdd; */
  --iucky-theme-op-deep: var(--iucky-green-op-deep);
  --iucky-theme-none: #4259ef01;
  --iucky-blue: #425AEF;
  --iucky-red: #D8213C;
  --iucky-pink: #FF7C7C;
  --iucky-green: #28a63f;
  --iucky-green-op: #28a63f23;
  --iucky-green-op-deep: #28a63fdd;
  --iucky-yellow: #c28b00;
  --iucky-yellow-op: #d99c001a;
  --iucky-orange: #e38100;
  --iucky-fontcolor: #202020;
  --iucky-fontcolor-reverse: #fff;
  /* --iucky-background: #f7f9fe; */
  --iucky-reverse: #000;
  --iucky-maskbg: rgba(255, 255, 255, 0.6);
  --iucky-maskbgdeep: rgba(255, 255, 255, 0.8);
  --iucky-hovertext: var(--iucky-main);
  --iucky-ahoverbg: #F7F7FA;
  --iucky-lighttext: var(--iucky-main);
  --iucky-secondtext: rgba(60, 60, 67, 0.6);
  --iucky-scrollbar: rgba(60, 60, 67, 0.4);
  --iucky-card-btn-bg: #edf0f7;
  --iucky-post-blockquote-bg: #dfdfdf;
  --iucky-post-tabs-bg: #f2f5f8;
  --iucky-secondbg: #f1f3f8;
  --iucky-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --iucky-card-bg: #fff;
  --iucky-card-bg-op: var(--iucky-black-op);
  --iucky-card-bg-none: rgba(255, 255, 255, 0);
  --iucky-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --iucky-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --iucky-card-border: #e3e8f7;
  --iucky-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border-forever: 2px solid var(--iucky-main);
  --iucky-link-color: #F55852;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
}

html::before {
  /* background-image: var(--background-image-light, url(https://cdn.exia.xyz/img/blog/mountain.jpg)); */
  background-image: url(https://www.bing.com/th?id=OHR.KilimanjaroElephants_ZH-CN3779609103_UHD.jpg);
}

html::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  html::before {
    /* background-image: var(--background-image-dark, url(https://cdn.exia.xyz/img/blog/mountain.jpg)); */
  }

  body {
    color: #d4d4d4;
    background: black;
  }

  :root {
    --iucky-theme: #0084FF;
    --iucky-theme-op: #0084FF23;
    --iucky-theme-op-deep: #0084ffdd;
    --iucky-theme-none: #0084FF00;
    --iucky-blue: #0084FF;
    --iucky-red: #FF3842;
    --iucky-pink: #FF7C7C;
    --iucky-green: #57bd6a;
    --iucky-yellow: #ffc93e;
    --iucky-yellow-op: #ffc93e30;
    --iucky-orange: #ff953e;
    --iucky-fontcolor: #d5d5d6;
    --iucky-fontcolor-reverse: #202020;
    --iucky-background: #18171d;
    --iucky-background-op: #27262f;
    --iucky-reverse: #fff;
    --iucky-maskbg: rgba(0, 0, 0, 0.6);
    --iucky-maskbgdeep: rgba(0, 0, 0, 0.8);
    --iucky-hovertext: #0A84FF;
    --iucky-ahoverbg: #fff;
    --iucky-lighttext: #f2b94b;
    --iucky-secondtext: #a1a2b8;
    --iucky-scrollbar: rgba(200, 200, 223, 0.4);
    --iucky-card-btn-bg: #30343f;
    --iucky-post-blockquote-bg: rgb(127, 127, 127);
    --iucky-post-tabs-bg: #121212;
    --iucky-secondbg: #30343f;
    --iucky-shadow-nav: 0 5px 20px 0 rgba(28, 28, 28, 0.4);
    --iucky-card-bg: #1d1e22;
    --iucky-card-bg-op: var(--iucky-white-op);
    --iucky-card-bg-none: #1d1b2600;
    --iucky-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --iucky-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --iucky-card-border: #282829;
    --iucky-shadow-border: 0 8px 16px -4px #00000050;
    --style-border-forever: 2px solid var(--iucky-lighttext);
    --iucky-link-color: #7AC088;
  }
}

.dark-mask,
.read-mask {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  animation: mask 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.un-read-mask {
  animation: mask-out 0.5s ease-in-out;
  opacity: 0;
}

@media (prefers-color-scheme: light) {

  .read-mask,
  .un-read-mask {
    display: block;
    background: var(--iucky-background);
  }
}

@media (prefers-color-scheme: dark) {

  .read-mask,
  .un-read-mask {
    animation: none;
    opacity: inherit;
  }

  .dark-mask {
    display: block;
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes mask-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes mask {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --- content --- */

.post-content {
  padding: 50px;
  word-wrap: break-word;
  line-height: 2.5;
  letter-spacing: 0.013rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
}

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content table,
.post-content pre {
  margin-top: 0;
  margin-bottom: 1.25rem;
  text-align: justify;
}

.post-content>*:first-child {
  margin-top: 0 !important;
}

.post-content blockquote {
  margin: 0;
  padding: 0.8rem 0.9375rem;
  border-left: 0.25rem solid var(--iucky-post-blockquote-bg);
  margin-bottom: 1rem;
}

.post-content blockquote>:last-child,
.comment-content blockquote>:last-child {
  margin-bottom: 0 !important;
}


.post-content h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3rem;
  font-size: 1.8em;
  line-height: 1.2;
}

.post-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.55em;
  line-height: 1.225;
}


.post-content h3 {
  font-size: 1.4em;
  line-height: 1.43;
}

.post-content h4 {
  font-size: 1.2em;
}

.post-content h5 {
  font-size: 1em;
}

.post-content h6 {
  font-size: .875em;
}

.post-content strong {
  font-weight: 500;
  letter-spacing: 0;
}

.post-content hr {
  overflow: hidden;
  margin: 1rem 0;
  padding: 0;
  height: 0.125rem;
  border: none;
  background: #e7e7e7 repeating-linear-gradient(-45deg, #fff, #fff 0.25rem, transparent 0.25rem, transparent 0.5rem);
}

.post-content hr:before,
.post-content hr:after {
  display: table;
  content: "";
}

.post-content a {
  color: var(--iucky-link-color);
  position: relative;
  white-space: normal;
  font-weight: 500;
  word-break: break-all;
  border-bottom: 0.0625rem dashed #EEE;
}

.post-content a::after {
  border-color: var(--iucky-link-color);
  position: absolute;
  bottom: -0.0625rem;
  left: 100%;
  width: 0;
  border-bottom: 0.0625rem solid #1abc9c;
  content: "";
  transition: width 350ms, left 350ms;
}

.post-content a:hover {
  border-bottom-color: transparent;
}

.post-content a:hover::after {
  left: 0;
  width: 100%;
  transition: width 350ms;
}

@media (prefers-color-scheme: dark) {
  .post-content hr {
    background: #2c2a2a repeating-linear-gradient(-45deg, #bcbcbc, #bcbcbc 0.25rem, transparent 0.25rem, transparent 0.5rem);
  }

  .post-content a {
    border-bottom-color: #403E3E;
  }
}

.post-content table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  word-break: normal;
}

.post-content table thead tr {
  background-color: #f8f8f8;
}

.post-content table tr {
  border-top: 0.0625rem solid #ccc;
  background-color: #fff;
}

.post-content table th,
.post-content table td {
  padding: 0.375rem 0.8125rem;
  border: 0.0625rem solid #ddd;
}

.post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

@media (prefers-color-scheme: dark) {


  .post-content table thead tr {
    background-color: rgba(255, 255, 255, 0.06);
  }

  .post-content table tr {
    background-color: #2c2a2a;
  }

  .post-content table th,
  .post-content table td {
    border-color: #5e5c5c;
  }

  .post-content table tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

@media screen and (min-device-pixel-ratio: 1.5),
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-o-min-device-pixel-ratio: 1.5 / 1.5),
screen and (min--moz-device-pixel-ratio: 1.5) {

  .post-content pre {
    font-size: .813rem;
  }
}

.post-content pre>code,
.comment-content pre>code {
  white-space: pre;
}

.post-content pre code,
.comment-content pre code {
  margin: 0;
  display: inline;
  background-color: transparent;
}

.post-content code {
  letter-spacing: 0;
  margin: 0;
  padding: 0.2rem 0;
  border-radius: 0.1875rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.post-content pre,
.post-content code {
  font-family: Consolas, Menlo, Monaco, "lucida console", "Liberation Mono", "Courier New", "andale mono", monospaceX, monospace, sans-serif;
  background-color: #F1F3F3 !important;
}

.post-content .line-numbers-rows {
  background-color: #EBEDED;
}

.line-numbers .line-numbers-rows {
  border: none !important;
  top: -10px !important;
}

.line-numbers .line-numbers-rows>:first-child {
  padding-top: 10px !important;
}

.line-numbers .line-numbers-rows>:last-child {
  padding-bottom: 15px !important;
}

@media (prefers-color-scheme: dark) {

  .post-content pre,
  .post-content code {
    background-color: #2d2d2d !important;
  }

  .post-content .line-numbers-rows {
    background-color: #403E3E;
  }

  .line-numbers-rows>span::before {
    color: #888 !important;
  }
}