.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
  -moz-animation: opacity-in 1s ease;
  -webkit-animation: opacity-in 1s ease;
  -o-animation: opacity-in 1s ease;
  animation: opacity-in 1s ease;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 可爱的，二次元的 */
.divider {
  position: relative;
  margin: 40px auto;
  width: calc(100% - 4px);
}

.divider::before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: var(--iucky-theme-op);
  content: ' ';
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}