html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
}

body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
}


body::before {
  background-image: url(https://cdn.exia.xyz/img/blog/mountain.jpg);
  /* background-image: url(https://www.bing.com/th?id=OHR.KilimanjaroElephants_ZH-CN3779609103_UHD.jpg); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  html::before {
    /* background-image: var(--background-image-dark, url(https://cdn.exia.xyz/img/blog/mountain.jpg)); */
  }

  body {
    color: #d4d4d4;
    background: black;
  }
}